@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

/* 다크모드 강제 고정 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

html {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
  /* 모바일에서 이미지 눌렀을 때 저장/ 복사 메뉴 방지 */
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  /* 기둥 밖 배경 */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;

  /* 폰트 보정 */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}